body {
	font-family: "skolar", serif;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Makes sure that the content is centered and visible on most screens */
.content {
	width: 960px;
	margin: 0 auto;
}

/* Styling for header */
#header {
	text-align: center;
	background-color: #474747;
	color: white;
	padding-top: 20px;
	padding-bottom: 5px;
}
#header .name {
	margin-bottom: 0;
	margin-top: 0;
}
#header .occupation {
	font-style: italic;
}

/* Navigation styling */
#header .navigation {
	list-style-type: none;	
	padding-bottom: 5px;
	margin-bottom: 0;
	text-align: left;
	padding-left: 0;
}
#header .navigation a, #header .navigation a:link, #header .naviation a:visited, #header .navigation a:active {
	color: white;
	text-decoration: none;
}
#header .navigation a:hover {
	text-decoration: underline;
}
